*
{
color: white;
font-family: system-ui;
box-sizing: border-box;
font-size: 1.2vw;
}
body {
margin: 0;
}

#hatter
{
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #009c87;
}
h1 {
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.7vw;
}
img
{
  height: auto;
}
#kep1
{
display: block;
margin-left: auto;
margin-right: auto;
height: 45vw; !important;
}
.doboz1 {
  position: relative;
    margin-top: 25px;

}
#szoveg1
{
  margin-top:14%;
  font-size: 2vw;
}
#kozep1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: bold;
}
#bemutat1
{
  margin: auto;
  width: 50%;
  padding: 10px;
  height: auto;
  background-color: #6e6e6e;
  border-top: 5px solid black;
  padding: 10px;
  box-shadow: 10px 20px #888888;
}
#szoveg3
{
  font-size: 1.4vw;
}
#tablazat1
{
  text-align: right !important;
  align-items: right;
}
#kozepso
{
  margin: auto;
  height: 1200px;
  width: 50%;
  padding: 10px;
  text-align: center !important;
}
#kozepso2
{
  margin: auto;
  height: auto;
  width: 50%;
  padding: 10px;
  text-align: center !important;
}
#keptabla
{
  width: 75% !important;
  margin: auto;
  padding: 10px;
  margin-top: 100px;

}
#kep10 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep10:hover
{
  opacity: 0.3;
}
#kep11 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep11:hover
{
  opacity: 0.3;
}
#kep12 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep12:hover
{
  opacity: 0.3;
}
#kep13 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep13:hover
{
  opacity: 0.3;
}
#kep14 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep14:hover
{
  opacity: 0.3;
}
#kep15 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep15:hover
{
  opacity: 0.3;
}
#kep16 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep16:hover
{
  opacity: 0.3;
}
#kep17 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep17:hover
{
  opacity: 0.3;
}
#kep18 {
    float: left !important;
    width:  30vw;
    height: auto;
    object-fit: cover;
}
#kep18:hover
{
  opacity: 0.3;
}
#soveg1
{
  margin-top: 10vw;
  margin-left: 2.5vw;
  margin-bottom: 8vw;
  font-size: 1.7vw;

}

.forog-kartya {
  background-color: transparent;
  width: 30vw;
  height: 30vw;
  perspective: 100vw;
  float: right;
  margin-right: 6%;
  margin-top: 2vw;
  margin-bottom: 15%;
}

.forog-kartya-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.forog-kartya:hover .forog-kartya-inner {
  transform: rotateY(180deg);
}

.forog-kartya-front, .forog-kartya-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.forog-kartya-front {
  background-color: black;
  color: black;
}

.forog-kartya-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}
.webterv
{
  font-size: 1.4vw;
}
